
.buttonLink {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.buttonLink a {
    padding: 10px;
    background-color: green;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-bottom: 50px;
}

